@charset "utf-8";
/* CSS Document */

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Lato', sans-serif;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
}

h1 {
	padding-bottom: 15px;
}

button {
	width: 150px;
	padding: 10px 0;
	background: none;
	border: none;
	border: 2px solid black;
	border-radius: 50px;
	transition: all ease 0.5s;
	cursor: pointer;
}

button:focus {
	outline: none;
}

button:hover {
	background: black;
	color: white;
}

.col-2 {
	width: 50%;
	float: left;
}

/****----------------- Sidebar------------------------****/

#main-sidebar {
	width: 80px;
	height: 100%;
	padding: 15px;
	position: fixed;
	top: 0;
	left: 0;
	background: #F2F2F2;
	transition: all ease 0.5s;
	z-index: 99;
}

#main-sidebar.active {
	width: 380px;
}

i#m-s-logo {
	position: fixed;
	margin: 0 10px 45px 10px;
	font-size: 30px;
	text-align: center;
	color: #F09;
}

#m-s-hamburger {
	width: 25px;
	height: 20px;
	position: fixed;
	margin-left: 12.5px;
	margin-top: 0;
	cursor: pointer;
}

#m-s-hamburger span {
	width: 100%;
	height: 2px;
	position: absolute;
	background: #000;
	transition: all ease 0.5s;
}

#m-s-hamburger span:nth-child(1) {
	top: 1px;
}

#m-s-hamburger span:nth-child(2) {
	top: 50%;
	opacity: 1;
}

#m-s-hamburger span:nth-child(3) {
	bottom: 0;
}

#m-s-hamburger.active span:nth-child(1) {
	transform: rotate(-45deg);
	top: 12.5px;
}

#m-s-hamburger.active span:nth-child(2) {
	opacity: 0;
}

#m-s-hamburger.active span:nth-child(3) {
	transform: rotate(45deg);
	top: 12.5px;
}

ul#m-s-nav {
	padding: 0;
	margin: 0;
	/*margin-left: -200%;*/
	margin-left: 80px;
	list-style: none;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	font-size: 1.8em;
}

ul#m-s-nav.active {
	margin-left: 80px;
}

ul#m-s-nav li {
	margin: 0;
	padding: 15px 0;
	opacity: 0;
	transition: all ease 0.5s;
}

#m-s-socials {
	position: fixed;
	bottom: 15px;
	left: 35px;
}

#m-s-socials i {
	display: block;
	margin: 15px 0;
	font-size: 20px;
	text-align: center;
	transition: all ease 0.2s;
	cursor: pointer;
}

#m-s-socials i:hover {
	color: #F09;
}

/****----------------- Animation classes -----------------****/

.slide-left, .slide-right {
	height: 800px;
	opacity: 1;
	transition: all ease 0.5s;
	background: grey;
}


/****----------------- Main Body ------------------------****/

#main-wrapper {
	height: 100%;
	margin-left: 80px;
}

/****----------------- Hero Banner ------------------------****/

#y-t-hero-banner {
	width: 100%;
	height: 100%;
	position: relative;
	opacity: 1;
	transition: all ease 1.5s;
	z-index: 0;
}

#y-t-hero-banner-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	z-index: 2;
}

#y-t-hero-banner-iframe {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#y-t-hero-banner iframe {
	width:s;
	height: 100%;
	position: relative;
	z-index: 1;
}

#y-t-buttons {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 100px;
	z-index: 3;
}

#y-t-buttons button {
	margin: 0 15px;
	border-color: white;
	color: white;
}

#y-t-buttons button:hover {
	background: white;
	color: black;
}

#at-hero-banner {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: black;
	opacity: 0;
	transition: all ease 2.5s;
	z-index: 1;
}

#at-hero-banner-inner {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	margin: auto;
	text-align: center;
	color: white;
}

#at-hero-banner h1 {
	font-size: 2.5em;
	text-transform: uppercase;
	opacity: 0;
	transition: all ease 1.5s;
}

#at-hero-banner h2 {
	font-size: 1.2em;
	text-transform: uppercase;
	color: #f2f2f2;
	opacity: 0;
	transition: all ease 1.5s;
}

#at-hero-banner i {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 50px;
	color: white;
	opacity: 0;
	cursor: pointer;
}


/****----------------- Intro copy ------------------------****/

#intro-wrapper {
	width: 960px;
	margin: auto;
	padding: 50px 0;
}

#intro-wrapper:after {
    content:'';
    display:block;
    clear: both;
}

#intro-gallery {
	width: 100%;
	position: relative;
}

#intro-gallery div {
	width: 33.3333%;
	float: left;
	padding: 0.5px;
}

/*#intro-gallery div:nth-child(1), #intro-gallery div:nth-child(2), #intro-gallery div:nth-child(3) {
	padding-bottom: 0;
}*/

.i-g-img {
	width: 100%;
	height: auto;
	display: block;
	transition: all ease 0.5s;
	opacity: 1;
}

.i-g-img.active {
	opacity: 0.5;
}

/****----------------- New launch ------------------------****/

#new-launch-wrapper {
	width: 960px;
	padding: 50px 0;
}

#n-l-media {
	padding: 20px 20px 20px 0px;
}

#n-l-copy {
	padding: 20px 0px 20px 20px;
}

#n-l-copy:before {
	width: 1px;
	position: absolute;
    content: '';
    left: 0;
    background-color: #CCC;
}

/****----------------- New Launch  ------------------------****/


#new-launch-wrapper {
	width: 960px;
	margin: auto;
}


/****----------------- Tutorials ------------------------****/

#tutorials-wrapper {
	width: 960px;
	margin: auto;
}

.tutorials {
	width: 100%;
	position: relative;
	display: flex;
	padding: 35px;
	border-bottom: 1px solid #F2F2F2;
}

.tutorials:last-of-type {
	border: none;
}

.tutorials h1, .tutorials p {
	width: 50%;
}

.tutorials h1 {
	font-size: 1.5em;
}

.tutorials p {
	font-size: 0.9em;
	color: #CCC;
}

.tutorials button {
}

.tutorials button:hover {
}